//- child.jade
extends ./layout.jade
block .container
  h1 #{title}
  h1 's Portfolio
    form(method='POST')
      .form-group
        label Symbol
        input(type='text',name='symbol', placeholder='Symbol')
      button(class="btn", data-action="sell").Sell
      button(class="btn", data-action="newQuote").New Quote
    p Name
    p Current Market Value:
      //a(href=marketValue.URL)= marketValue
    p Total Portfolio Value

